.infolink {
    height: 50%;
    width: 25%;
}

#paper {
    background-image:url("https://ismwaste.co.uk/images/recycling/cardboard-min.jpeg");
    position: absolute;
}

#plastic {
    background-image: url("https://ismwaste.co.uk/images/recycling/plastic-min.jpg");
    position: absolute;
}
#metal {
    background-image: url("https://ismwaste.co.uk/images/recycling/metal-min.jpg");
    position: absolute;
}
#Electrics {
    background-image: url("https://ismwaste.co.uk/images/recycling/weee-waste.jpg");
    position: absolute;
}
#Wood {
    background-image: url("https://ismwaste.co.uk/images/recycling/wood-min.jpg");
    position: absolute;
}
#Glass {
    background-image: url("https://ismwaste.co.uk/images/recycling/glass-min.jpg");
    position: absolute;
}
#Clothing {
    background-image: url("https://ismwaste.co.uk/images/recycling/textiles.jpg");
    position: absolute;
}
#Inert {
    background-image: url("https://ismwaste.co.uk/images/recycling/bricks-min.jpg");
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;

}

#paper:hover .overlay {
    opacity: 1;
    background-color: #008CBA;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}